/* DialScreen.css */
.dial-screen {
  position: absolute;
  top: 20px;
  left: 14px;
  width: 92%;
  height: 95.3%;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 2;
  border-radius: 50px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.display {
  margin-top: 20px;
  font-size: 2.5rem;
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  width: 80%;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.number {
  letter-spacing: 0.1rem;
  flex-grow: 1;
  overflow: hidden;
}

.backspace {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.keypad {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0;
  width: 100%;
}


.key {
  font-size: 2rem;
  padding: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.key:active {
  background-color: #dcdcdc;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin-top: 30px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s;
}

.action span {
  margin-top: 5px;
}

.recents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  color: black;
  flex-direction: column;
  width: 80%;
  padding-top: 60px;
  overflow-y: auto; /* Use auto to show scrollbar only when needed */
}

.recents::-webkit-scrollbar {
  display: none; /* Hide the default scrollbar for WebKit browsers (like Chrome, Safari) */
}

.call-button {
  margin: 20px 0;
  padding: 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 2rem;
  color: white;
  outline: none;
  transition: background-color 0.3s;
}

.call-button:active {
  background-color: #45a049;
}


.recent-call {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.recent-call-info {
  display: flex;
  margin-left: 20px;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.recent-call-name {
  font-weight: bold;
  margin-right: 10px; /* Ensure consistent spacing */
  flex-shrink: 0; /* Prevent squeezing */
}

.recent-call-number {
  color: #888;
  flex-shrink: 0; /* Prevent squeezing */
}

.recent-call-time {
  color: #888;
  margin-left: auto; /* Push time to the right */
}


.close-button-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #888;
  padding: 10px;
}

.close-button-top-right:hover {
  color: #333;
}