.passcode-screen {
    position: absolute;
    top: 20px;
    left: 14px;
    width: 92%;
    height: 95.3%;
    background-image: linear-gradient(to bottom right, #FF416C, #FF4B2B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    border-radius: 50px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.dial-screen.show {
  opacity: 1; /* Show the component */
}

.dial-screen.hide {
  opacity: 0; /* Hide the component */
}

.passcode-screen.unlocking {
    opacity: 0;
    transform: scale(1.1);
}

.passcode-prompt {
    font-size: 24px;
    margin-bottom: 20px;
}

.passcode-circles {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.passcode-circle {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 8px;
}

.passcode-circle.filled {
    background-color: white;
}

.passcode-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.passcode-button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.passcode-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.option-button {
    font-size: 14px;
}